---
import { ClientRouter } from "astro:transitions";
import { getRelativeLocaleUrl } from 'astro:i18n';
import "../styles/global.css";

const AppName = "Thirdshop";

const currentLocale = Astro.currentLocale || "en";

type Link = {
    href: string;
    title: string;
}

const links: Link[] = [

];
---

<html lang={currentLocale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{AppName}</title>
        <ClientRouter />
	</head>
	<body class="container mx-auto" >
        <header class="fixed px-4 md:px-10 lg:px-20 py-4 right-0 left-0 top-0 flex flex-row items-center bg-white/80 backdrop-blur-md z-50 border-b border-gray-200" >
            <div class="container mx-auto">
                <h1 class="text-lg md:text-xl font-bold font-serif flex items-center gap-2" >
                    <a href={getRelativeLocaleUrl(currentLocale, "/")} aria-label="Thirdshop" class="focus:opacity-80 hover:opacity-80" >
                        <img src="/icon-title.png" alt="Thirdshop" class="h-6 mouse-pointer" />
                    </a>
                </h1>
    
                <nav class="mx-auto " >
                    <ul class="flex flex-row gap-4 md:gap-8" >
                        {
                            links.map(link => {
                                return <li>
                                    <a href={link.href} class="mouse-pointer hover:underline focus:underline" >{link.title}</a>
                                </li>
                            })
                        }
                    </ul>
                </nav>
            </div>
        </header>
		<main class="px-4 md:px-10 lg:px-0 py-8 md:py-12 lg:py-16 pt-12 md:pt-16 h-full w-full container mx-auto overflow-y-auto overflow-x-hidden" >
            <slot></slot>
        </main>
        <footer class="px-4 md:px-8 py-4 bg-white/80 backdrop-blur-md border-t border-gray-200" >
            <p class="text-center text-xs md:text-sm text-gray-500" >Copyright &copy; 2025 Thirdshop. All rights reserved.</p>
        </footer>
	</body>
</html>
